@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #374151;
}

@layer components {
    .login-section {
        @apply h-screen grid grid-cols-2;
        background-image: url('./assets/hero.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}